.contentContainer{
  padding-top: 70px;
  overflow: hidden;
}

.highlightCarousel {
  height: 900px;
  width: 30px;
  background-color: blue;
}

@media (max-width: 768px) {
  .contentContainer {
    padding-top: 40px;
  }
}